  <!--div class="btn-group open">
  <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> User</a>
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="fa fa-caret-down"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
    <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
    <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
    <li class="divider"></li>
    <li><a href="#"><i class="i"></i> Make admin</a></li>
  </ul>
</div-->
<nav class="navbar navbar-fixed-top navbar-default ">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
    <%= link_to "Refugee Affairs Division - ROAST Online", root_path, :class => 'navbar-brand' %> 
      <% if user_signed_in? %>

        <%=link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'btn btn-default navbar-btn' %>

      <% else %>

        <%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-default navbar-btn' %>
        <%= link_to "Login", new_user_session_path, :class => 'btn btn-default navbar-btn'%>
    </ul>
    <% end %>
  </div>

</nav>
<div class='clearfix'></div>