<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>Governorate:</strong>
  <%= @location.governorate %>
</p>

<p>
  <strong>Country:</strong>
  <%= @location.country %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>